
@font-face {
  font-family: 'Manrope-Thin';
  src: url('Manrope-Thin.eot?#iefix') format('embedded-opentype'),  url('Manrope-Thin.woff') format('woff'), url('Manrope-Thin.ttf')  format('truetype'), url('Manrope-Thin.svg#Manrope-Thin') format('svg');
  font-weight: normal;
  font-style: normal;
}
