
@font-face {
  font-family: 'Manrope-Regular';
  src: url('Manrope-Regular.eot?#iefix') format('embedded-opentype'),  url('Manrope-Regular.woff') format('woff'), url('Manrope-Regular.ttf')  format('truetype'), url('Manrope-Regular.svg#Manrope-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
